# Python
__pycache__/
*.py[cod]
*.class
.venv/
venv/
ENV/
.pytest_cache/

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.npm/

# Entorno y Configuración
.env
.DS_Store

# Docker volumes / data
.dockerdata/
*.sqlite3
